In [ ]:
myset = {"apple", "banana", "cherry"}

 Note: Set items are unchangeable, but you can remove items and add new items.

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry", False, True, 0}

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

In [ ]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

In [ ]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

In [ ]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

Join Sets
There are several ways to join two or more sets in Python.

The union() and update()    methods joins all items from both sets.

The intersection()          method keeps ONLY the duplicates.

The difference()            method keeps the items from the first set that are not in the other set(s).

The symmetric_difference()  method keeps all items EXCEPT the duplicates.

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

In [ ]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

In [ ]:
set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)

print(set3)

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

Set Methods

add()	 	                        Adds an element to the set
clear()	 	                        Removes all the elements from the set
copy()	 	                        Returns a copy of the set
difference()	                -	Returns a set containing the difference between two or more sets
difference_update()	            -=  Removes the items in this set that are also included in another, specified set
discard()	 	                    Remove the specified item
intersection()	                &   Returns a set, that is the intersection of two other sets
intersection_update()	        &=  Removes the items in this set that are not present in other, specified set(s)
isdisjoint()	 	                Returns whether two sets have a intersection or not
issubset()	                    <=  Returns whether another set contains this set or not
 	                            <   Returns whether all items in this set is present in other, specified set(s)
issuperset()	                >=  Returns whether this set contains another set or not
 	                            >   Returns whether all items in other, specified set(s) is present in this set
pop()	 	                        Removes an element from the set
remove()	 	                    Removes the specified element
symmetric_difference()	        ^	Returns a set with the symmetric differences of two sets
symmetric_difference_update()	^=	Inserts the symmetric differences from this set and another
union()	                        |	Return a set containing the union of sets
update()	                    |=	Update the set with the union of this set and others